.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    img {
      width: 70%;
    }
  }

  .navbar {
    a {
      text-decoration: none;
      font-size: 2rem;
      color: white;
      margin-right: 5rem;
    }
  }
}

.header {
  h1 {
    color: white;
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 5rem;
    font-size: 3.6rem;
    letter-spacing: 5px;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  margin-bottom: 10rem;
  width: 40rem;
  height: 5rem;
  font-size: 2.4rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px;
  font-family: inherit;
  transition: all 0.2s;

  &::placeholder {
    font-size: 2rem;
    display: grid;
  }

  &:focus {
    border-bottom: 3px solid rgb(255, 0, 0);
    transform: translateY(-5px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.ml9 {
  position: relative;
  font-weight: 800;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
