*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/background-min.jpg);
  background-position: top;
  background-size: contain;
  font-family: "Akaya Kanadaka", cursive;
  height: 100vh;
}
